.App {
  text-align: center;
  background-color: #032f86;
  outline-color: white;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: red;
}

input {
  background-color: #032f86;
  border-top: 2px solid red;
  border-left: 2px solid red;
  border-right: 2px solid red;
  border-bottom: 2px solid red;
  width: 50vw;
  height: 5vh;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
  outline: none;
}

label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

Button {
  background-color: red;
  border: none;
  border-radius: 12px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(10px + 2vmin);
  color: white;
  transition-duration: 0.4s;
}

Button:hover {
  background-color: white;
  color: red;
}

span {
  color: red;
}